*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{

    background-image:linear-gradient(120deg,black,white);
    color:blue;
}
form{
  display:flex;
  min-height: 20vh;
 
}
ul {
    list-style-type: none; 
    
    
  }
  .checkbox {
    margin-right: 10px;
  }
  
  
  